
body {
  padding:1% 6% 5% 6%;
}

h1, h2, h3 {
  padding: 1.0em 0 0.2em 0;
  margin:0;
}

em, strong { font-weight:bold }

p, label, ul, pre, .html{ padding:0.6em 0; }

.like-positive-number { width:6em; }

.like-sum-table td, .like-sum-table th {
  padding:6px 12px;
}

.like-sum-table .like-product-line {
  border-bottom:2px #ccc solid;
  border-top:2px #ccc solid;
}

ol, ul {list-style-type:lower-alpha;}
li { padding:0.25em 0; }

.like-bubble { 
    padding:20px;
    display:inline-block;
    background:#acf; 
    border:2px solid #666;
    border-radius:200px;
 }  

.bubble-over {
   background:#5b7; 
}

.tooltip {
  position:absolute;
  display:none;
}

.tooltip .content {
  border-radius:4px;
  border:1px solid #666;
  background:#ffffd0;
  padding:6px;
  width:200px;
  margin-bottom:6px;
}

.tooltip .arrow {
    position: absolute;
	  bottom: 0;
	  left: 50%;
	  margin-left: -6px;
	  border-left: 6px solid transparent;
	  border-right: 6px solid transparent;
	  border-top: 6px solid #888;
}
