
body {
  font-family:sans-serif;
  font-size:16px;
  padding:1% 6% 5% 6%;
  line-height:1.5;
}

h1{
  font-size:32px;
}

h2 {
  font-size:24px;
}

h3 {
  font-size:20px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  padding: 1.2em 0 0.6em 0;
}

em, strong { font-weight:bold }

p, label, ul, pre, .html{ padding:0.6em 0; }

.like-positive-number { width:6em; }

.like-sum-table td, .like-sum-table th {
  padding:6px 12px;
}

.like-sum-table .like-product-line {
  border-bottom:2px #ccc solid;
  border-top:2px #ccc solid;
}

ol, ul {list-style-type:lower-alpha;}
li { padding:0.25em 0; }
pre {
  font-family: 'Ubuntu Mono', courrier, sans-serif;
  word-wrap:break-word;
  line-height:1.4;
}

.like-bubble { 
    padding:20px;
    display:inline-block;
    background:#acf; 
    border:2px solid #666;
    border-radius:200px;
 }  

.bubble-over {
   background:#5b7; 
}

.tooltip {
  position:absolute;
  display:none;
}

.tooltip .content {
  border-radius:4px;
  border:1px solid #666;
  background:#ffffd0;
  padding:6px;
  width:200px;
  margin-bottom:6px;
}

.tooltip .arrow {
    position: absolute;
	  bottom: 0;
	  left: 50%;
	  margin-left: -6px;
	  border-left: 6px solid transparent;
	  border-right: 6px solid transparent;
	  border-top: 6px solid #888;
}
